In [1]:
import graphlab

In [3]:
sales = graphlab.SFrame('kc_house_data.gl/')

In [5]:
sales

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [6]:
train_data, test_data = sales.random_split(.8, seed = 0)

In [7]:
prices = sales['price']

In [9]:
sum_prices = prices.sum()

In [10]:
num_houses = prices.size()

In [12]:
avg_price_1 = sum_prices/num_houses
avg_price_1

540088.1419053348

In [13]:
avg_price_2 = prices.mean()
print "average price via method 1: " + str(avg_price_1)
print "average price via method 2: " + str(avg_price_2)

average price via method 1: 540088.141905
average price via method 2: 540088.141905

In [14]:
half_prices = 0.5*prices

In [19]:
prices_squared = prices*prices

In [16]:
sum_prices_squared = prices_squared.sum()

In [17]:
print "the sum of price squared is: " + str(sum_prices_squared)

the sum of price squared is: 9.21732513355e+15

In [22]:
sq_ft= sales['sqft_living']
sq_ft

dtype: float
Rows: 21613
[1180.0, 2570.0, 770.0, 1960.0, 1680.0, 5420.0, 1715.0, 1060.0, 1780.0, 1890.0, 3560.0, 1160.0, 1430.0, 1370.0, 1810.0, 2950.0, 1890.0, 1600.0, 1200.0, 1250.0, 1620.0, 3050.0, 2270.0, 1070.0, 2450.0, 1710.0, 2450.0, 1400.0, 1520.0, 2570.0, 2320.0, 1190.0, 2330.0, 1090.0, 2060.0, 2300.0, 1660.0, 2360.0, 1220.0, 2620.0, 2570.0, 4220.0, 3595.0, 1570.0, 1280.0, 3160.0, 990.0, 2290.0, 1250.0, 2753.0, 1190.0, 3150.0, 1410.0, 1980.0, 2730.0, 2830.0, 2250.0, 2420.0, 3250.0, 1850.0, 2150.0, 1260.0, 2519.0, 1540.0, 1660.0, 2770.0, 2720.0, 2240.0, 1000.0, 3200.0, 4770.0, 1260.0, 2750.0, 2380.0, 1790.0, 3430.0, 1760.0, 1040.0, 1410.0, 3450.0, 2350.0, 1900.0, 2020.0, 1680.0, 960.0, 2140.0, 2660.0, 2770.0, 1610.0, 1030.0, 1980.0, 3520.0, 1200.0, 1580.0, 1580.0, 3300.0, 1960.0, 1160.0, 1810.0, 2320.0, ... ]

In [26]:
(prices*sq_ft).sum()

29394407530248.0

In [27]:
def simple_linear_regression(input_feature, output):
    #Sum y*x
    sum_y_by_x = (output*input_feature).sum()
    
    #sum y * sum x divided by N
    sum_y = output.sum()
    sum_x = input_feature.sum()
    N = input_feature.size()
    mean_sumy_sumx = (sum_y*sum_x)/N
    
    #sum x squared
    sum_x_sq = (input_feature*input_feature).sum()
    
    #(sumx * sumx) / N
    sum_x_sq_mean = (sum_x * sum_x)/N
    
    #output mean
    output_mean = output.mean()
    #input mean
    input_mean = input_feature.mean()
    
    #Slope
    slope = (sum_y_by_x - mean_sumy_sumx)/(sum_x_sq - sum_x_sq_mean)
    
    
    #intercept
    intercept = output_mean - (slope* input_mean)
        
    return (intercept, slope)

In [28]:
test_feature = graphlab.SArray(range(5))

In [30]:
test_output = graphlab.SArray(1 + 1*test_feature)

In [31]:
(test_intercept, test_slope) = simple_linear_regression(test_feature, test_output)

In [32]:
print "Intercept: " + str(test_intercept)
print "Slope: " + str(test_slope)

Intercept: 1.0
Slope: 1

In [33]:
sqft_intercept, sqft_slope = simple_linear_regression(train_data['sqft_living'], train_data['price'])

In [34]:
print "Intercept: " + str(sqft_intercept)
print "Slope: " + str(sqft_slope)

Intercept: -47116.0765749
Slope: 281.958838568

In [35]:
def get_regression_predictions(input_feature, intercept, slope):
    predicted_values = intercept + (slope * input_feature)

    return predicted_values

In [36]:
my_house_sqft = 2650
estimated_price = get_regression_predictions(my_house_sqft, sqft_intercept, sqft_slope)
print "The estimated price for a house with %d squarefeet is $%.2f" % (my_house_sqft, estimated_price)

The estimated price for a house with 2650 squarefeet is $700074.85

In [40]:
def get_residual_sum_of_squares(input_feature, output, intercept, slope):
    #predicted values
    predictions = intercept + (slope * input_feature)
    
    # computing residuals
    residuals = predictions - output
    residuals_sq = residuals**2
    RSS = residuals_sq.sum()
    
    
    return(RSS)

In [41]:
print get_residual_sum_of_squares(test_feature, test_output, test_intercept, test_slope)

0.0

In [42]:
rss_prices_on_sqft = get_residual_sum_of_squares(train_data['sqft_living'], train_data['price'], sqft_intercept, sqft_slope)
print "The RSS of predicting Prices based on Square Feet is: " + str(rss_prices_on_sqft)

The RSS of predicting Prices based on Square Feet is: 1.20191835632e+15

In [43]:
def inverse_regression_predictions(output, intercept, slope):
    estimated_feature = (output - intercept)/slope
    
    return estimated_feature

In [44]:
my_house_price = 800000
estimated_squarefeet = inverse_regression_predictions(my_house_price, sqft_intercept, sqft_slope)
print "The estimated squarefeet for a house worth $%.2f is %d" % (my_house_price, estimated_squarefeet)

The estimated squarefeet for a house worth $800000.00 is 3004

In [45]:
bedroom_intercept, bedroom_slope = simple_linear_regression(train_data['bedrooms'], train_data['price'])

In [46]:
print "Intercept: " + str(bedroom_intercept)
print "Slope: " + str(bedroom_slope)

Intercept: 109473.180469
Slope: 127588.952175

In [47]:
rss_prices_on_sqft = get_residual_sum_of_squares(test_data['sqft_living'], test_data['price'], sqft_intercept, sqft_slope)
print "The RSS of predicting Prices based on Square Feet is: " + str(rss_prices_on_sqft)

rss_prices_on_bedroom = get_residual_sum_of_squares(test_data['bedrooms'], test_data['price'], bedroom_intercept, bedroom_slope)
print "The RSS of predicting Prices based on Bedrooms is: " + str(rss_prices_on_bedroom)

The RSS of predicting Prices based on Square Feet is: 2.75402936247e+14
The RSS of predicting Prices based on Bedrooms is: 4.93364582868e+14